body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    font-size:18px;
}

.block,
.header-space,
.content {
    flex: 1 1 0;
}

.blue {
    background-color: #1f2937;
}

.white {
    background-color: white;
}

.grey {
    background-color: rgba(172, 172, 172, 0.897);
}

.block,
.footer,
.content,
.header,
ul,
.header-content-layer1,
.header-content-layer2,
.blurb-container,
.pictures-layer-1,
.pictures-layer-2,
.pictures-layer-3,
.quote-layer-1,
.quote-layer-2{
    display:flex;
}

.footer {
    justify-content:center;
}

.footer-text {
    color: white;
    padding: 20px;
}

.sidebar {
    width:200px;
}

.content,
.blurb-container,
.quote-container{
    flex-direction: column;
}

.header {
    color:white;
    flex: 1 1 0;
    padding:10px;
}

ul {
    margin:0px;
    padding:0px;
    list-style: none;
}

a {
    text-decoration:none;
    color:white;
    padding:10px;
}

.logo {
    font-weight: 900;
    font-size: 48px;
}

.header-content-layer2 {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    gap:20px;
}

.title-text {
    font-weight: 900;
    font-size: 24px;
}

.blurb-container {
    width:300px;
    gap:10px;
}

button {
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3882f6;
    color: white;
    font-size:1em;
    font-family: inherit;
    font-weight:700px;
    padding: 10px;
    border-radius: 10px;
}

.pictures-layer-1 {
    justify-content: center;
    padding: 20px;
    font-size:24px;
    font-weight: 700;
}

.pictures-layer-2 {
    gap:20px;
    justify-content: center;
    margin: 5px;
}

.pictures-layer-2 img{
    width: 150px;
    height: 150px;
    border-radius:20px;
    border: 3px solid #3882f6;
}

.pictures-layer-3{
    justify-content:center;
    gap:20px;
}

.pictures-layer-3 .text {
    width:156px;
    text-align:center;
    margin-bottom:20px;
}

.quote-layer-1 {
    justify-content: center;
    font-size:24px;
}

.quote-layer-2 {
    flex-direction:row-reverse;
    margin-right:196px;
}

.quote-text {
    width:684px;
}

.quotes {
    justify-content: center;
}